body {
    background-image: linear-gradient(to bottom, #404AF7, #7032FA, #FA12B1, #DD0D7C, #AB01FA, #C214FA)
}

.blockImg {
    height: 360px;
    width: 300px;
}

.blockImg-2 {
    height: 260px;
    width: 320px;
    display: block;
}

.title-text{
    scale: 1;
    line-height: 0.8;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    padding: 12px 24px 12px 16px;
}

.btn {
    scale: 0.7;
    line-height: 1.6;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    gap: 0.75rem;
    background-color: var(--clr);
    color: #fff;
    border-radius: 10rem;
    font-weight: 600;
    font-size: 18px;
    padding: 12px 24px 12px 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: background-color 0.3s;
}

.btn .button__icon-wrapper {
    flex-shrink: 0;
    width: 25px;
    height: 25px;
    position: relative;
    color: var(--clr);
    background-color: #fff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.btn:hover {
    background-color: #8f44fd;
}

.btn:hover .button__icon-wrapper {
    color: #8f44fd;
}

.btn .button__icon-svg--copy {
    position: absolute;
    transform: translate(-150%, 150%);
}

.btn:hover .button__icon-svg:first-child {
    transition: transform 0.3s ease-in-out;
    transform: translate(150%, -150%);
}

.btn:hover .button__icon-svg--copy {
    transition: transform 0.3s ease-in-out 0.1s;
    transform: translate(0);
}